body{
    background-color: white;
    
}



h1{
    text-align: center;
    font-size: 50px;
}

.icon2{
    text-align: center;
    font-size: 26px;
    color: rgb(193, 29, 29);
    padding: 5px;

}

a{
    color:brown;
}

.b{
    color: black;
    
}

.card1{
    border: 2px solid red;
    border-radius: 5px;
    width: 200px;
    height: 250px;
    margin: 30px;
    box-shadow: 2px 2px 10px grey;
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding: 2px;
    
}
.container{
    width: 100%;
    padding-right: 460px;
    padding-bottom: 50px;
    
    display: flex;
    justify-content: center;
    
}

.d{
    color: red;
    font-weight: bold;
}

h4{
    color: rgb(195, 28, 28);
    font-family:'lato' , sans-serif;
    font-size:26px ;
    text-align: center;
    
}


.one{
    border-bottom: 5px solid black;
    margin-right: 900px;
    position:relative;
    top: 60px;
    width: 400px;
    
}

.two{
    border-bottom: 5px solid black;
    margin-left: 900px;
    position:relative;
    bottom: 70px;
    width: 400px;
}

.material-icons{
    color: red;
}